
/* 用于图片还没加载完成的时候 首屏展示流星动画 */
.container{
	width: 100%;
	height: 100%;
	/* animation: animateBg 5s linear infinite; */
	position: relative;
	overflow: hidden;
}

.container .meteor{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow:  0 0 0 4px rgba(255, 255, 255, 0.1),
	0 0 8px rgba(255, 255, 255, 0.1),
	0 0 20px rgba(255, 255, 255, 1);
	/* 执行流星动画 */
	animation: animte 3s linear infinite;
}
/* 拖尾效果 */
.container .meteor:before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	height: 3px;
	background: linear-gradient(90deg,#ffffff,transparent);
}
.container .meteor:nth-child(1){
	top: 0;
	right: 0;
	left: initial;
	animation-delay: 0s;
	animation-duration: 1s;
}
.container .meteor:nth-child(2){
	top: 0;
	right: 80px;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 2s;
}
.container .meteor:nth-child(3){
	top: 80px;
	right: 0;
	left: initial;
	animation-delay:0.4s;
	animation-duration: 3s;
}
.container .meteor:nth-child(4){
	top: 180px;
	right: 0;
	left: initial;
	animation-delay:0.6s;
	animation-duration: 1.5s;
}
.container .meteor:nth-child(5){
	top: -10px;
	right: 400px;
	left: initial;
	animation-delay:0.8s;
	animation-duration: 2.5s;
}
.container .meteor:nth-child(6){
	top: -10px;
	right: 600px;
	left: initial;
	animation-delay:1s;
	animation-duration: 3s;
}
.container .meteor:nth-child(7){
	top: 300px;
	right: 0;
	left: initial;
	animation-delay:1.2s;
	animation-duration: 1.75s;
}

.container .meteor:nth-child(8){
	top: -10px;
	right: 700px;
	left: initial;
	animation-delay:1.4s;
	animation-duration: 1.25s;
}

.container .meteor:nth-child(9){
	top: -10px;
	right: 1000px;
	left: initial;
	animation-delay:0.75s;
	animation-duration: 2.5s;
}
.container .meteor:nth-child(10){
	top: -10px;
	right: 450px;
	left: initial;
	animation-delay:2.75s;
	animation-duration: 2.25s;
}

.container .meteor:nth-child(11){
	top: -10px;
	right: 300px;
	left: initial;
	animation-delay:2.75s;
	animation-duration: 2.25s;
}
.container .meteor:nth-child(12){
	top: -10px;
	right: 200px;
	left: initial;
	animation-delay:2.75s;
	animation-duration: 2.25s;
}
.container .meteor:nth-child(13){
	top: -10px;
	right: 100px;
	left: initial;
	animation-delay:2.75s;
	animation-duration: 2.25s;
}
/* 背景缩放动画 */
/* @keyframes animateBg{
	0%,100%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.2);
	}
} */
/* 流星划过动画 */
@keyframes animte{
	0%{
		transform: rotate(315deg) translateX(0);
		opacity: 1;
	}
	90%{
		opacity: 1;
	}
	100%{
		transform: rotate(315deg) translateX(-1000px);
		opacity: 0;
	}
}